In [15]:
import numpy as np
import pandas as pd

In [16]:
df1=pd.read_excel("addresses.xlsx")

In [17]:
df1.head()

,id,address,Vilage_first,"Village_first_(Գ=0,Ք=1)",Community_Village_first,City_first,"City_first_(Գ=0,Ք=1)",Community_City_first,Both
0,1,"ԿՈՏԱՅՔԻ ՄԱՐԶ, Գ. ԳԱՌՆԻ, 2 ԹԱՂ., 8 Փ., Տ. 14_ԿՈ...",15.0,0.0,ԳԱՌՆԻ,78.0,1.0,ԳԱՌՆԻ,1
1,2,"ԹԱԼԻՆ Փ. Ռ. ԼԵՎՈՆՅԱՆ 88_ԹԱԼԻՆ Ք. ԹԱԼԻՆ, Ռ. ԼԵՎ...",31.0,1.0,ԹԱԼԻՆ,31.0,1.0,ԹԱԼԻՆ,0
2,3,"ՀՀ, ՇԻՐԱԿԻ ՄԱՐԶ, Գ. ՍԱՐԱԿԱՊ, 1 Փ., Տ..48_ԱՆԻԻ ...",18.0,0.0,ՍԱՐԱԿԱՊ,18.0,0.0,ՍԱՐԱԿԱՊ,0
3,4,"ՍՏԵՓԱՆԱՎԱՆ, Գ. ՆԺԴԵՀԻ, 19, 6_Ք. ՍՏԵՓԱՆԱՎԱՆ, ՆԺ...",13.0,0.0,ՆԺԴԵՀԻ,30.0,1.0,ՍՏԵՓԱՆԱՎԱՆ,1
4,5,"Գ. ԱԳԱՐԱԿ, 3, 1_3 ՏՈՒՆ 1/^/ԼՈՌՈՒ ՄԱՐԶ Գ. ԱԳԱՐԱ...",1.0,0.0,ԱԳԱՐԱԿ,1.0,0.0,ԱԳԱՐԱԿ,0

In [18]:
df2=df1[df1["Community_Village_first"].isnull()]

In [19]:
df1=df1.dropna()
df1.head()

,id,address,Vilage_first,"Village_first_(Գ=0,Ք=1)",Community_Village_first,City_first,"City_first_(Գ=0,Ք=1)",Community_City_first,Both
0,1,"ԿՈՏԱՅՔԻ ՄԱՐԶ, Գ. ԳԱՌՆԻ, 2 ԹԱՂ., 8 Փ., Տ. 14_ԿՈ...",15.0,0.0,ԳԱՌՆԻ,78.0,1.0,ԳԱՌՆԻ,1
1,2,"ԹԱԼԻՆ Փ. Ռ. ԼԵՎՈՆՅԱՆ 88_ԹԱԼԻՆ Ք. ԹԱԼԻՆ, Ռ. ԼԵՎ...",31.0,1.0,ԹԱԼԻՆ,31.0,1.0,ԹԱԼԻՆ,0
2,3,"ՀՀ, ՇԻՐԱԿԻ ՄԱՐԶ, Գ. ՍԱՐԱԿԱՊ, 1 Փ., Տ..48_ԱՆԻԻ ...",18.0,0.0,ՍԱՐԱԿԱՊ,18.0,0.0,ՍԱՐԱԿԱՊ,0
3,4,"ՍՏԵՓԱՆԱՎԱՆ, Գ. ՆԺԴԵՀԻ, 19, 6_Ք. ՍՏԵՓԱՆԱՎԱՆ, ՆԺ...",13.0,0.0,ՆԺԴԵՀԻ,30.0,1.0,ՍՏԵՓԱՆԱՎԱՆ,1
4,5,"Գ. ԱԳԱՐԱԿ, 3, 1_3 ՏՈՒՆ 1/^/ԼՈՌՈՒ ՄԱՐԶ Գ. ԱԳԱՐԱ...",1.0,0.0,ԱԳԱՐԱԿ,1.0,0.0,ԱԳԱՐԱԿ,0

In [20]:
df1.Community_Village_first= [x.strip(' ') for x in df1.Community_Village_first]

In [21]:
Community_list= df1.Community_Village_first.unique()

In [22]:
print(Community_list)

['ԳԱՌՆԻ' 'ԹԱԼԻՆ' 'ՍԱՐԱԿԱՊ' 'ՆԺԴԵՀԻ' 'ԱԳԱՐԱԿ' 'ՍՏԵՓԱՆԱՎԱՆ' 'ԳՈՐԻՍ'
 'ԽՆՁՈՐԵՍԿ' 'ԴՈՂԱՐ' 'ՀԱՐԹԱՇԵՆ' 'ԱԿՆԵՐ' 'ԱՌՈՒՍՏԱՄՅԱՆ' 'ՍԻՍԻԱՆ' 'ՎԵՐԻՇԵՆ'
 'ՄՈՐԵՆԻ' 'ՇԱՔԻ' 'ԳՈՐԻU' 'ԴԱՎԻԹ' 'ԿԱՊԱՆ' 'ՇԻԿԱՀՈՂ' 'ՎԱՐԴԱՎԱՆՔ' 'ՍՅՈՒՆԻՔ'
 'ՈՒԺԱՆԻՍ' 'ՇՂԱՐՇԻԿ']

In [24]:
df2.head()

,id,address,Vilage first,"Village first (Գ=0,Ք=1)",Community_Village_first,City first,"City first (Գ=0,Ք=1)2",Community_City_first,Both
0,16,_,NaN,NaN,NaN,NaN,NaN,NaN,0
1,18,ARMENIA GORIS ԳԱԼՍՏՅԱՆ 23_MENIA GORIS ԳԱԼՍՏՅԱՆ 2,NaN,NaN,NaN,NaN,NaN,NaN,0
2,19,_,NaN,NaN,NaN,NaN,NaN,NaN,0
3,30,"ԿԱՊԱՆ, ԵՐԿԱԹՈՒՂԱՅԻՆՆԵՐԻ 3 ՆՐԲ., 41_ԿԱՊԱՆ ԵՐԿԱԹ...",NaN,NaN,NaN,NaN,NaN,NaN,0
4,35,ԳՈՐԻՍ ՍՅՈՒՆԻՔԻ 115_ՐԻՍ ՍՅՈՒՆԻՔԻ 11,NaN,NaN,NaN,NaN,NaN,NaN,0

In [25]:
for j in range(0,len(df2)):
    for i in Community_list:  
        if i in df2.loc[j,"address"]:
            df2.loc[j,"Community_Village_first"]=i
            break
        else:
            df2.loc[j,"Community_Village_first"]=0

In [26]:
df2.head()

,id,address,Vilage first,"Village first (Գ=0,Ք=1)",Community_Village_first,City first,"City first (Գ=0,Ք=1)2",Community_City_first,Both
0,16,_,NaN,NaN,0,NaN,NaN,NaN,0
1,18,ARMENIA GORIS ԳԱԼՍՏՅԱՆ 23_MENIA GORIS ԳԱԼՍՏՅԱՆ 2,NaN,NaN,0,NaN,NaN,NaN,0
2,19,_,NaN,NaN,0,NaN,NaN,NaN,0
3,30,"ԿԱՊԱՆ, ԵՐԿԱԹՈՒՂԱՅԻՆՆԵՐԻ 3 ՆՐԲ., 41_ԿԱՊԱՆ ԵՐԿԱԹ...",NaN,NaN,ԿԱՊԱՆ,NaN,NaN,NaN,0
4,35,ԳՈՐԻՍ ՍՅՈՒՆԻՔԻ 115_ՐԻՍ ՍՅՈՒՆԻՔԻ 11,NaN,NaN,ԳՈՐԻՍ,NaN,NaN,NaN,0

In [27]:
df=df1.append(df2,sort=False)

In [28]:
df

,id,address,Vilage_first,"Village_first_(Գ=0,Ք=1)",Community_Village_first,City_first,"City_first_(Գ=0,Ք=1)",Community_City_first,Both,Vilage first,"Village first (Գ=0,Ք=1)",City first,"City first (Գ=0,Ք=1)2"
0,1,"ԿՈՏԱՅՔԻ ՄԱՐԶ, Գ. ԳԱՌՆԻ, 2 ԹԱՂ., 8 Փ., Տ. 14_ԿՈ...",15.0,0.0,ԳԱՌՆԻ,78.0,1.0,ԳԱՌՆԻ,1,NaN,NaN,NaN,NaN
1,2,"ԹԱԼԻՆ Փ. Ռ. ԼԵՎՈՆՅԱՆ 88_ԹԱԼԻՆ Ք. ԹԱԼԻՆ, Ռ. ԼԵՎ...",31.0,1.0,ԹԱԼԻՆ,31.0,1.0,ԹԱԼԻՆ,0,NaN,NaN,NaN,NaN
2,3,"ՀՀ, ՇԻՐԱԿԻ ՄԱՐԶ, Գ. ՍԱՐԱԿԱՊ, 1 Փ., Տ..48_ԱՆԻԻ ...",18.0,0.0,ՍԱՐԱԿԱՊ,18.0,0.0,ՍԱՐԱԿԱՊ,0,NaN,NaN,NaN,NaN
3,4,"ՍՏԵՓԱՆԱՎԱՆ, Գ. ՆԺԴԵՀԻ, 19, 6_Ք. ՍՏԵՓԱՆԱՎԱՆ, ՆԺ...",13.0,0.0,ՆԺԴԵՀԻ,30.0,1.0,ՍՏԵՓԱՆԱՎԱՆ,1,NaN,NaN,NaN,NaN
4,5,"Գ. ԱԳԱՐԱԿ, 3, 1_3 ՏՈՒՆ 1/^/ԼՈՌՈՒ ՄԱՐԶ Գ. ԱԳԱՐԱ...",1.0,0.0,ԱԳԱՐԱԿ,1.0,0.0,ԱԳԱՐԱԿ,0,NaN,NaN,NaN,NaN
5,6,Ք.ՍՏԵՓԱՆԱՎԱՆ ԲԱՂՐԱՄՅԱՆ 2Ա/18_ԲԱՂՐԱՄՅԱՆ Փ. 2Ա 1...,1.0,1.0,ՍՏԵՓԱՆԱՎԱՆ,1.0,1.0,ՍՏԵՓԱՆԱՎԱՆ,0,NaN,NaN,NaN,NaN
6,7,"Ք.ԳՈՐԻՍ, ԱԿՍԵԼ ԲԱԿՈՒՆՑԻ, 43,_Ք. ԳՈՐԻՍ, ԱԿ. ԲԱԿ...",1.0,1.0,ԳՈՐԻՍ,1.0,1.0,ԳՈՐԻՍ,0,NaN,NaN,NaN,NaN
7,8,ՀՀ ՍՅՈՒՆԻՔԻ ՄԱՐԶ Գ ԽՆՁՈՐԵՍԿ 38 Փ Տ 61_ՍՅՈՒՆԻՔԻ...,149.0,0.0,ԽՆՁՈՐԵՍԿ,76.0,1.0,ԳՈՐԻU,1,NaN,NaN,NaN,NaN
8,9,"ՔԱՇԱԹԱՂԻ ՇՐՋ. , Գ. ԴՈՂԱՐ_ԼՂՀ Գ.ԴՈՂԱՐ/^/RA ANTI...",17.0,0.0,ԴՈՂԱՐ,17.0,0.0,ԴՈՂԱՐ,0,NaN,NaN,NaN,NaN
9,10,"ՍՅՈՒՆԻՔԻ Մ., Գ. ՀԱՐԹԱՇԵՆ_ՍՅՈՒՆԻՔԻ ՄԱՐԶ Գ. ՀԱՐԹ...",14.0,0.0,ՀԱՐԹԱՇԵՆ,14.0,0.0,ՀԱՐԹԱՇԵՆ,0,NaN,NaN,NaN,NaN
10,11,"ՍՅՈՒՆԻՔԻ Մ., Գ. ԱԿՆԵՐ_ԳՈՐԻՍԻ ՇՐՋ. ԳՅՈՒՂ ԱԿՆԵՐ/...",14.0,0.0,ԱԿՆԵՐ,14.0,0.0,ԱԿՆԵՐ,0,NaN,NaN,NaN,NaN
11,12,"Ք. ՍԻՍԻԱՆ, Գ. ԱՌՈՒՍՏԱՄՅԱՆ Փ., 37 Տ._Ք. ՍԻՍԻԱՆ,...",12.0,0.0,ԱՌՈՒՍՏԱՄՅԱՆ,1.0,1.0,ՍԻՍԻԱՆ,1,NaN,NaN,NaN,NaN
12,13,"ՄԵՂՐԻ Զ. ԱՆԴՐԱՆԻԿԻ ՓՈՂ._Ք. ԳՈՐԻՍ, ԿՈՄԻՏԱՍ Փ., ...",25.0,1.0,ԳՈՐԻՍ,25.0,1.0,ԳՈՐԻՍ,0,NaN,NaN,NaN,NaN
13,14,"ՍԻՍԻԱՆ Փ.ԽԱՆՋՅԱՆ 45_Ք. ՍԻՍԻԱՆ, Փ. ԽԱՆՋՅԱՆ, Տ. ...",21.0,1.0,ՍԻՍԻԱՆ,21.0,1.0,ՍԻՍԻԱՆ,0,NaN,NaN,NaN,NaN
14,15,"Ք.ՍԻՍԻԱՆ, Գ.ՆԺԴԵՀԻ, 3, 17_Ք. ՍԻՍԻԱՆ, Փ. Գ. ՆԺԴ...",11.0,0.0,ՆԺԴԵՀԻ,1.0,1.0,ՍԻՍԻԱՆ,1,NaN,NaN,NaN,NaN
16,17,"ԳՈՐԻՍԻ ՇՐՋ. , Գ.ՎԵՐԻՇԵՆ_ՎԵՐԻՇԵՆ ՎԵՐԻՇԵՆ/^/ՍՅՈՒ...",15.0,0.0,ՎԵՐԻՇԵՆ,15.0,0.0,ՎԵՐԻՇԵՆ,0,NaN,NaN,NaN,NaN
19,20,"Ք. ԳՈՐԻՍ, ԲԱԿՈՒՆՑ Փ.,102 Տ._Ք. ԳՈՐԻՍ ԲԱԿՈՒՆՑԻ ...",1.0,1.0,ԳՈՐԻՍ,1.0,1.0,ԳՈՐԻՍ,0,NaN,NaN,NaN,NaN
20,21,"ՀՀ Ք. ԳՈՐԻՍ ԱԿ ԲԱԿՈՒՆՑԻ Փ Տ 102 3201_Ք.ԳՈՐԻՍ, ...",4.0,1.0,ԳՈՐԻՍ,4.0,1.0,ԳՈՐԻՍ,0,NaN,NaN,NaN,NaN
21,22,"ՍԻՍԻԱՆ, Գ. ՄՈՐԵՆԻ_ՄՈՒՑՔ ԱԽԼԱԹՅԱՆ 1/^/ՍԻՍԻԱՆ Գ ...",9.0,0.0,ՄՈՐԵՆԻ,9.0,0.0,ՄՈՐԵՆԻ,0,NaN,NaN,NaN,NaN
22,23,"ՍՅՈՒՆԻՔԻ ՄԱՐԶ, Գ. ՇԱՔԻ, 9 Փ., 15/1 Տ._ARMENIA ...",16.0,0.0,ՇԱՔԻ,16.0,0.0,ՇԱՔԻ,0,NaN,NaN,NaN,NaN
23,24,"Ք.ԳՈՐԻU, ԳԵՏԱՓՆՅԱ 7/1_Ք. ԳՈՐԻՍ, ԳԵՏԱՓՆՅԱ Փ., 7...",1.0,1.0,ԳՈՐԻU,1.0,1.0,ԳՈՐԻU,0,NaN,NaN,NaN,NaN
24,25,"ՍՅՈՒՆԻՔԻ Մ., Գ. ԴԱՎԻԹ ԲԵԿ, 1Փ., 6ՆՐԲ., Տ. 5_ՍՅ...",14.0,0.0,ԴԱՎԻԹ,14.0,0.0,ԴԱՎԻԹ,0,NaN,NaN,NaN,NaN
25,26,"Ք. ԿԱՊԱՆ, ԴԱՎԻԹ ԲԵԿ ԹՂՄ., 9 Շ., 1 ԲՆ._ԿԱՊԱՆ ԴԱ...",1.0,1.0,ԿԱՊԱՆ,1.0,1.0,ԿԱՊԱՆ,0,NaN,NaN,NaN,NaN
26,27,"ԿԱՊԱՆ ՀԱԼԻՁՈՐ17/28_ԿԱՊԱՆ, ՀԱԼԻՁՈՐԻ ԹՂՄ., 17, 2...",51.0,1.0,ԿԱՊԱՆ,51.0,1.0,ԿԱՊԱՆ,0,NaN,NaN,NaN,NaN
27,28,ՀՀ ՍՅՈՒՆԻՔԻ ՄԱՐԶ ԳՅ. ՇԻԿԱՀՈՂ 2Փ. Տ. 3_Գ.ՇԻԿԱՀՈ...,39.0,0.0,ՇԻԿԱՀՈՂ,39.0,0.0,ՇԻԿԱՀՈՂ,0,NaN,NaN,NaN,NaN
28,29,ԿԱՊԱՆ ԳՅՈՒՂ Վ. ԳՅՈԴԱԿԼՈՒ_ԿԱՊԱՆ ԼԵՌՆԱԳՈՐԾՆԵՐԻ 1...,89.0,0.0,ՎԱՐԴԱՎԱՆՔ,89.0,0.0,ՎԱՐԴԱՎԱՆՔ,0,NaN,NaN,NaN,NaN
30,31,ՍՅՈՒՆԻՔԻ ՄԱՐԶ Գ.ՍՅՈՒՆԻՔ ՎԵՐԻՆ ԹԱՂ Տ.2_ԿԱՊԱՆ ԳՅ...,15.0,0.0,ՍՅՈՒՆԻՔ,15.0,0.0,ՍՅՈՒՆԻՔ,0,NaN,NaN,NaN,NaN
31,32,"ԿԱՊԱՆ, Հ.ԱՎԵՏԻՍՅԱՆ 18-33_Ք.ԿԱՊԱՆ, Հ.ԱՎԵՏԻՍՅԱՆ,...",26.0,1.0,ԿԱՊԱՆ,26.0,1.0,ԿԱՊԱՆ,0,NaN,NaN,NaN,NaN
32,33,"ՉԱՐԵՆՑԻ 12 26_Ք. ԱԳԱՐԱԿ, ՉԱՐԵՆՑԻ ՓՈՂ., ՇՆ. 24,...",15.0,1.0,ԱԳԱՐԱԿ,15.0,1.0,ԱԳԱՐԱԿ,0,NaN,NaN,NaN,NaN
33,34,"ՍՅՈՒՆԻՔԻ Մ., Գ. ՈՒԺԱՆԻՍ, 2Փ., Տ. 12_ՍՅՈՒՆԻՔԻ Մ...",14.0,0.0,ՈՒԺԱՆԻՍ,14.0,0.0,ՈՒԺԱՆԻՍ,0,NaN,NaN,NaN,NaN
35,36,"Գ.ՇՂԱՐՇԻԿ Փ.1 Տ. 24_ՀՀ ԱՐԱԳԱԾՈՏՆԻ ՄԱՐԶ, Գ. ՇՂԱ...",1.0,0.0,ՇՂԱՐՇԻԿ,1.0,0.0,ՇՂԱՐՇԻԿ,0,NaN,NaN,NaN,NaN
0,16,_,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
1,18,ARMENIA GORIS ԳԱԼՍՏՅԱՆ 23_MENIA GORIS ԳԱԼՍՏՅԱՆ 2,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
2,19,_,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
3,30,"ԿԱՊԱՆ, ԵՐԿԱԹՈՒՂԱՅԻՆՆԵՐԻ 3 ՆՐԲ., 41_ԿԱՊԱՆ ԵՐԿԱԹ...",NaN,NaN,ԿԱՊԱՆ,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
4,35,ԳՈՐԻՍ ՍՅՈՒՆԻՔԻ 115_ՐԻՍ ՍՅՈՒՆԻՔԻ 11,NaN,NaN,ԳՈՐԻՍ,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN